* {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: center;
    background: black;
    color: white;
}
::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome */
}
.container {
    display: inline-block;
    overflow: scroll;
    width: 100%;
    scrollbar-width: none; /* Hide scrollbar i Fx */
}

/* CURRENT */
.contanier-currently {
    display: inline-grid;
    grid-template-areas: "icon  temperature  clock"
                         "icon  temperature  day";
    grid-template-rows: 1fr auto;
    grid-template-columns: auto auto 15em;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
}
    .current-icon {
        grid-area: icon;
        height: 110px;
        width: 110px;
        display: inline-block;
    }
    .current-temperature {
        grid-area: temperature;
        font-size: 4em;
    }
    .current-temperature-span {
        grid-area: temperature-span;
    }
    .current-clock {
        grid-area: clock;
        display: block;
        font-size: 4em;
        color: #F3A81D;
        margin-bottom: -0.3em;
    }
    .current-day {
        grid-area: day;
    }

/* FUTURE */
.container-hourly {
   display: flex;
   margin-top: 15px;
}
.hour {
    display: flex;
    position: relative;
    flex-direction: column;
    border-left: 2px solid #333;
    text-align: center;
    margin-bottom: 36px;
}
    .hour.first-hour-of-day {
        border-left: 2px solid #aaa;
    }
    .labels {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: right;
        padding-right: 0.3em;
        padding-bottom: 35px;
    }
        .label_time {
            margin-top: 5px;
            flex-grow: 1;
        }
        .label_precipprob, .label_precipint {
            font-size: 0.8em;
            padding-bottom: 10px;
            white-space: nowrap;
        }
    .color-block {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
        .time-container {
            color: white;
            padding: 5px;
        }
            .time-container .minutes {
                font-size: 0.7em;
                color: #ccc;
            }
        .temp-container {
            padding: 20px 0;
            flex-grow: 1;
        }
            .temp-container .icon-nt-clear {
                height: 40px;
                margin-top: 5px;
            }
            .temp-container .temp {
                margin-top: -5px;
            }
        .precipprob, .precipint {
            color: #2C83C7;
            font-size: 0.7em;
            padding-bottom: 10px;
        }
        .uv-container {
            padding-bottom: 10px;
        }
            .uv {
                font-size: 0.9em;
                padding: 1px 4px;
                border-radius: 4px;
                color: black;
                font-weight: bold;
            }
            .uv0 { visibility: hidden; }
            .uv1, .uv2 { background: rgb(179,229,179); }
            .uv3, .uv4, .uv5 { background: rgb(255,249,153); }
            .uv6, .uv7 { background: rgb(255,217,179); }
            .uv8, .uv9, .uv10 { background: rgb(255,153,153); }
            .uv11 { background: rgb(206,164,255); }
    .sun {
        position: absolute;
        top: 100%;
        font-size: 0.8em;
        width: 100%;
    }
    .sun.sunrise {
        border-right: 2px solid #333;
        margin-left: 2px;
    }
    .sun.sunset {
        border-left: 2px solid #333;
        margin-left: -2px;
    }
        .sun .direction {
            display: inline-block;
            margin-left: 5px;
        }
        .sun img {
            display: inline-block;
            vertical-align: top;
            margin-left: -5px;
        }
        .sun .time {
            display: block;
            font-size: 0.9em;
        }
.footer {
    color: #ccc;
    text-align: right;
    font-size: 0.8em;
}
    .attribution {
        color: #ccc;
    }
