* {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: center;
    background: black;
    color: white;
}
.container {
    display: inline-block;
}
.container-hourly {
   display: inline-flex;
   justify-content: center;
   margin-top: 10px;
}
.hour {
    display: flex;
    position: relative;
    flex-direction: column;
    border-left: 2px solid #333;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 36px;
}
    .hour {}
        .hour.clear > .color-block {
            background: rgba(243,173,43,0.1);
        }
        .hour.precip > .color-block {
            background: rgba(44,131,199,0.1);
        }
        .hour.night > .color-block {
            background: rgba(0,0,0,0.05);
        }
        .hour > .label_day {
            background: none;
        }
    .hour.first-hour-of-day {
        border-left: 3px solid white;
        margin-top: 0;
        padding-top: 30px;
    }
    .label_day {
        color: white;
        margin-top: -30px;
        text-align: left;
        position: absolute;
        padding: 0 0.3em;
        width: 400%;
    }
        .label_day.span1 .time,
        .label_day.span2 .time,
        .label_day.span3 .time {
            display: none;
        }
    .labels {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: right;
        padding-right: 0.3em;
    }
        .label_time {
            margin-top: 35px;
            flex-grow: 1;
        }
        .label_uv {
            padding-bottom: 9px;
            margin-bottom: 36px;
        }
        .label_precipprob, .label_precipint {
            font-size: 0.8em;
            padding-bottom: 10px;
            white-space: nowrap;
        }
    .color-block {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
        .time-container {
            color: white;
            padding: 5px;
        }
            .time-container .minutes {
                font-size: 0.7em;
                color: #ccc;
            }
        .temp-container {
            padding: 20px 0;
            flex-grow: 1;
        }
            .temp {
                /* font-weight: bold; */
                margin-top: -5px;
            }
        .precipprob, .precipint {
            color: #2C83C7;
            font-size: 0.8em;
            padding-bottom: 10px;
        }
        .uv-container {
            padding-bottom: 10px;
        }
            .uv {
                font-size: 0.9em;
                padding: 1px 4px;
                border-radius: 4px;
                color: black;
                font-weight: bold;
            }
            .uv0, .uv1, .uv2 { background: rgb(179,229,179); }
            .uv3, .uv4, .uv5 { background: rgb(255,249,153); }
            .uv6, .uv7 { background: rgb(255,217,179); }
            .uv8, .uv9, .uv10 { background: rgb(255,153,153); }
            .uv11 { background: rgb(206,164,255); }
    .sun {
        position: absolute;
        top: 100%;
        font-size: 0.8em;
        width: 100%;
    }
    .sun.sunrise {
        border-right: 2px solid #ccc;
        margin-left: 1px;
    }
    .sun.sunset {
        border-left: 2px solid #ccc;
        margin-left: -1px;
    }
        .sun .direction {
            display: inline-block;
            margin-left: 5px;
        }
        .sun img {
            display: inline-block;
            vertical-align: top;
            margin-left: -5px;
        }
        .sun .time {
            display: block;
            font-size: 0.9em;
        }
.footer {
    color: #ccc;
    text-align: right;
    font-size: 0.8em;
}
    .attribution {
        color: #ccc;
    }
